@font-face {	
  font-family: 'Pokemon Classic';	
  src: url(Fonts/Pokemon_Classic.ttf) format(truetype);	
  font-weight: normal;	
  font-style: normal;	
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Pokemon Classic';
	box-sizing: border-box;
}

.blog {
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;    /* Vertical alignment */
  height: 100vh;   
}

.nes-btn {
  font-family: 'Pokemon Classic';
  display: inline-block;
  padding: 8px 16px;
  border: 4px solid #212529;
  border-radius: 8px;
  background-color: #fff;
  color: #212529;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #212529, -2px -2px 0 #fff;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
}

/* Primary Button Modifier */
.nes-btn.is-primary {
  border-color: #209cee;
  background-color: #209cee;
  color: #fff;
  box-shadow: 2px 2px 0 #212529, -2px -2px 0 #93d8f8;
}

* Hover State */
.nes-btn:hover {
  background-color: #47afff;
}

/* Active State */
.nes-btn:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

/* Focus State */
.nes-btn:focus {
  outline: 2px dashed #209cee;
  outline-offset: 4px;
}

